.light-reflection {

    position: fixed;

    width: 550px;

    height: 550px;

    left: 50%;

    top: 50%;

    pointer-events: none;

    transform: translate(-50%, -50%);

    z-index: -1;

    opacity: .9;

    filter: blur(70px);

    background:
    linear-gradient(
        135deg,

        rgba(124,58,237,.16),

        rgba(34,211,238,.10),

        rgba(255,255,255,.04),

        transparent 70%
    );

    mix-blend-mode: screen;
}