.loader{

position:fixed;

inset:0;

background:#07110B;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

z-index:99999;

transition:.8s;

}

.loader.hide{

opacity:0;

visibility:hidden;

}

.loader h1{

font-size:80px;

letter-spacing:12px;

color:#61E294;

}

.loader p{

margin:15px 0;

}

.bar{

width:220px;

height:4px;

background:#333;

overflow:hidden;

}

.progress{

height:100%;

width:100%;

background:#61E294;

animation:loading 2.3s linear;

}

@keyframes loading{

from{

transform:translateX(-100%);

}

to{

transform:translateX(0);

}

}