:root{

--bg:#08110C;

--primary:#59D27C;

--secondary:#A9F0C5;

--white:#F5F5F5;

--glass:rgba(255,255,255,.08);

}

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--bg);

color:white;

overflow-x:hidden;

font-family:Inter,sans-serif;

}

a{

text-decoration:none;

color:inherit;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#59D27C;

border-radius:10px;

}