.background{

position:fixed;

inset:0;

overflow:hidden;

z-index:-10;

background:#07110B;

}

.blob{

position:absolute;

width:500px;

height:500px;

border-radius:50%;

filter:blur(120px);

animation:float 15s infinite alternate;

}

.blob1{

background:#42ff87;

top:-120px;

left:-150px;

}

.blob2{

background:#00ffcc;

bottom:-150px;

right:-120px;

animation-delay:2s;

}

.blob3{

background:#2f8f4e;

left:40%;

top:20%;

animation-delay:5s;

}

.noise{

position:absolute;

inset:0;

background-image:url("https://grainy-gradients.vercel.app/noise.svg");

opacity:.08;

}

@keyframes float{

from{

transform:translateY(-30px) translateX(-20px);

}

to{

transform:translateY(40px) translateX(40px);

}

}